* {
    -fx-font-family: tahoma
}

.title {
    -fx-font-size: 30px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #fcc124 0%, #2196f3 50%);
}

.field {
    -fx-font-size: 18px;
    -jfx-focus-color: #2196f3
}

.result-title {
    -fx-font-size: 18px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #fcc124 0%, #2196f3 50%);
}

.result-txt {
    -fx-font-size: 22px
}

.btn {
    -fx-background-color: #4DABF5;
    -fx-background-radius: 10px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-text-fill: #FFF;
    -fx-font-size: 18px
}

.btn:hover {
    -fx-background-color: #2196f3;
    -fx-cursor: hand
}

/* Start SnackBar */

.jfx-snackbar-content {
    -fx-background-color: #F00;
    -fx-pref-width: 330px
}
.jfx-snackbar-toast {
    -fx-text-fill: #FFF;
    -fx-font-size: 17px;
    -fx-font-family: Tahoma;
    -fx-padding: 0 0 0 10px
}
/* End SnackBar */