* {
    -fx-font-family: Tahoma;
    color-base: darkcyan;
}

.media-title {
    -fx-font-size: 18px;
    -fx-text-fill: color-base;
}

.media-txt {
    -fx-font-size: 18px;
}

.lbl-time {
    -fx-font-size: 16px;
    -fx-text-fill: color-base;
}

.lbl-time2 {
    -fx-font-size: 16px;
    -fx-text-fill: #333
}

.btn {
    -fx-font-size: 22px;
    -fx-pref-width: 120px;
    -fx-pref-height: 45px;
    -fx-background-radius: 5;
    -fx-background-color: color-base;
    -fx-text-fill: #EEE;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
}