* {
    -fx-font-family: Tahoma;
    color-base: darkcyan;
}

Label {
    -fx-font-size: 16px;
}

JFXSlider {
    -fx-cursor: hand;
}

.media-title {
    -fx-font-size: 18px;
    -fx-text-fill: color-base;
}

.media-tbl {
    -fx-font-size: 18px;
}

.btn {
    -fx-font-size: 22px;
    -fx-pref-width: 120px;
    -fx-pref-height: 45px;
    -fx-background-radius: 5;
    -fx-background-color: color-base;
    -fx-text-fill: #EEE;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
}

.icon-control-media {
    -fx-fill: color-base;
    -glyph-size: 30;
    -fx-cursor: hand;
}