* {
    -fx-font-family: Tahoma
}

/* Start right nav */

.right-nav > .label {
	-fx-font-size: 17px;
}

.right-nav > .titled-pane > Label  {
	-fx-font-size: 14px;
}

.right-nav .jfx-toggle-button {
    -fx-padding: -15px;
}

/* End right nav */

/* Start tool bar */

.tool-container .button {
	-fx-padding: 0px;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-font-size: 22px;
	-fx-cursor: hand;
	-fx-background-radius: 5;
}

/* End tool bar */

.text-area {
    -fx-font-size: 20px;
    -fx-text-fill: #EEE;
}

.text-area .content {
	-fx-background-color: #333;
}